@import '../../helpers.scss';

.mb-auto {
  margin-bottom: auto;
}

.title {
  padding: 1rem 1.5rem;
  background-color: #fff;

  > p {
    color: #333;
    font-weight: bold;
    font-size: 1.25rem;
  }
}

.slide {
  padding: 0 1.5rem 1rem 1.5rem;
  border-bottom: 0.125rem #e2e2e2 solid;
  background-color: #fff;

  > a {
    color: #777;
    font-size: 0.875rem;
    margin-right: 1.5rem;
    text-decoration: none;

    &:hover {
      color: $primary-light;
    }
  }
}

.main {
  background-color: #f5f5f5;
  padding: 0 1.5rem 1.5rem 1.5rem;
  position: relative;

  > p {
    margin: 1.5rem 0 0.5rem 0;
  }

  .main-item {
    background-color: #fff;
    border: 0.125rem #e2e2e2 solid;

    .item-row {
      margin: 2rem;
      display: flex;
      align-items: center;

      p {
        font-size: 0.875rem;
      }

      .row-p {
        width: 10rem;
        font-size: 0.875rem;
      }

      .single-img-area {
        width: 31.25rem;
        height: 15.625rem;
        margin-left: 10rem;

        > img {
          @include size(100%, 100%);
        }

        .remove {
          @include ps-abs(0, 0);
          @include size(100%, 100%);
          background-color: rgba(0, 0, 0, 0.75);

          > i {
            @include ps-abs(50%, 50%);
            cursor: pointer;
            color: #fff;
            font-size: 2rem;
            transform: translate(-50%, -50%);
          }
        }
      }

      .row-time-picker {
        width: 8rem;
        margin-left: 1rem;
      }

      .row-input {
        width: 20rem;
      }

      .gmap-area {
        @include size(40rem, 20rem);
        margin-left: 10rem;
      }
    }
  }

  .el-icon-upload2 {
    cursor: pointer;
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    font-size: 2.5rem;
    color: $primary;
    font-weight: bold;
  }
}

.multiple-img {
  @include size(9.375rem, 9.375rem);
  margin-right: 1.5rem;

  > img {
    @include size(100%, 100%);
    border-radius: 0.5rem;
  }

  .remove {
    @include ps-abs(0, 0);
    @include size(100%, 100%);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem;

    > i {
      @include ps-abs(50%, 50%);
      cursor: pointer;
      color: #fff;
      font-size: 2rem;
      transform: translate(-50%, -50%);
    }
  }
}
