@import '../helpers.scss';

.header {
  height: 5vh;
  background-color: $primary;
  box-shadow: 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.5);

  .left > i {
    color: #fff;
    cursor: pointer;
    font-size: 1.25rem;
    margin: 0 1.25rem;
  }

  .right {
    > p {
      color: #fff;
      margin: 0 1.5rem;
      font-size: 0.875rem;
    }

    .el-dropdown-link {
      color: #fff;
      cursor: pointer;
      margin: 0 1.25rem;
    }
  }
}
