@import '../../../helpers.scss';

.el-icon-edit-outline {
  cursor: pointer;
  color: #007bff;
  font-size: 1.25rem;
}

.el-icon-delete {
  cursor: pointer;
  color: #dc3545;
  font-size: 1.25rem;
  margin-left: 1.5rem;
}
