@import '../helpers.scss';

.header {
  height: 16%;
  flex-direction: column;
  background-color: $primary;

  > p {
    color: #fff;
    font-size: 1.125rem;
    margin-top: 0.5rem;
  }
}

.main {
  height: 84%;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  flex-direction: column;

  .mhis-primary {
    @include mhis-button($primary);
  }

  .img-area {
    display: flex;
    margin-top: 1.5rem;

    > img {
      margin: 1rem;
      border-radius: 0.5rem;
    }
  }
}
