@import '../helpers.scss';

.reg-bg {
  @include bg-center('../assets/images/register-bg.png');
  height: 100%;
  position: relative;

  .advmeds-logo {
    @include ps-abs(1.5rem, 3rem);
  }

  .form-bg {
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.75);

    .form-header {
      flex-direction: column;

      > p {
        font-size: 1.125rem;
        color: $primary-light;
      }
    }
  }
}
