@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100% !important;
}

body {
  margin: 0 !important;
  font-family: 'Noto Sans TC', sans-serif !important;
}

p {
  margin: 0;
}

.el-loading-spinner {
  top: calc(100vh / 2);
}
