@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100% !important;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0 !important;
}

p {
  margin: 0;
}

.el-loading-mask {
  position: fixed;
}

.el-loading-spinner {
  top: calc(100vh / 2);
}
