@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100% !important;
  font-family: 'PT Serif', serif;
}

p {
  margin: 0;
  font-size: 0.875rem;
}

body {
  margin: 0 !important;
}

.el-loading-mask {
  position: fixed;
}

.el-loading-spinner {
  top: calc(100vh / 2);
}
