// login, register
.w-80 {
  width: 5rem;
}

// login, register
.w-250 {
  width: 15.625rem;
}

// register
.mt-16 {
  margin-top: 1rem;
}

// register
.mt-40 {
  margin-top: 2.5rem;
}

// login, register
.mb-0 {
  margin-bottom: 0;
}

// register
.mb-8 {
  margin-bottom: 0.5rem;
}

// login
.mb-20 {
  margin-bottom: 1.25rem;
}
